body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    padding-right: 15%;
    padding-bottom: 50px;
    padding-left: 15%;
}

.cardsview table {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 70px;
}
